<h2>Product Edit</h2>

<form  (ngSubmit)="saveProduct()"
        #productForm="ngForm"
  >


  <p *ngIf="productForm.dirty">
    Form is changed
  </p>


  <p *ngIf="productForm.invalid">
      Form is invalid
    </p>

  Name

  <input name="name" 
         [(ngModel)]="product.name" 

         required
         minlength="3"

         #productName="ngModel"
  />

  <p *ngIf="productName.dirty">
      Name is changed
  </p>

  <p *ngIf="productName.invalid">
     Name is invalid
  </p>

  <p *ngIf="productName.errors?.minlength">
      {{productName.errors?.minlength.requiredLength}} chars needed
  </p>


  <pre *ngIf="productName.errors"> 
    {{productName.errors | json}} 

  </pre>

  Price

  <input name="price" 
         [(ngModel)]="product.price" 

         required
         pattern="[0-9]{3}"

         #productPrice="ngModel"
  />


  <button type="submit">Save</button>
</form>